*, *::before, *::after {
	box-sizing: border-box;
}
body {
	margin: 0;
	background: #010001;
	color: #ffffff;
	padding-top: 53px;
	font-family: 'Roboto', sans-serif;
}
.header {
	max-width: 1230px;
	width: 90%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}
.item-link {
	text-decoration: none;
	color: #ffffff;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 12px;
	line-height: 14px;
}
.secondary-nav .item-link {
	color: #808080;
}
.secondary-nav .item:last-child .item-link{
	margin-right: 0;
}